<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Ideas </title>
    </head>
    <body>
        <p> Hi <%= %></p>
        <p></p>
        <form class="" action="index.html" method="post">
            <input type="text" placeholder="Post something witty here..." name="post" value="">
            <input type="submit" name="" value="Idea!">
        </form>
        <p></p>
        <p></p>
        <%= User.id %> says: <div class="">
            <% User.id.idea %>
        </div>
        <a href="/like">Like</a> <a href="#"><%= Number of Likes %></a>like this.
    </body>
</html>
