<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome main page</title>
    </head>
    <style media="screen">
        h3 {
            color: blue;
            text-align: center;
        }
        p {
            font-weight: bold;
            font-style: oblique;
            color: orange;
        }
        a {
            color: green;
        }
    </style>
    <body>
        <h3> Welcome !</h3>
        <p> Let's get you logged in or registered! </p>
        <a href="/main">Click Here!</a>
    </body>
</html>
